@import (inline) '../node_modules/react-datepicker/dist/react-datepicker.css';

@primary-colour: #1e87f0;

#navbar {
  background-color: @primary-colour;
  .uk-logo {
    color: white;
  }
}

.time-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.day-entry {
  &&--ok {
    background-color: lighten(limegreen, 45%);
  }
  &&--warning {
    background-color: lighten(red, 45%);
  }
}